<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CheckoutMapper">
	<resultMap type="Checkout" id="checkResult">
		<id property="ID" column="ID"/>
		<result property="SOURCECODE" column="SOURCECODE"/>
		<result property="TIME" column="TIME"/>
		<result property="OUTPUT_TYPE_ID" column="OUTPUT_TYPE_ID"/>
		<result property="QUANTITY" column="QUANTITY"/>
		<result property="DAMAGEDQTY" column="DAMAGEDQTY"/>
		<result property="DAMAGEDREASON" column="DAMAGEDREASON"/>
		<result property="SHORTQTY" column="SHORTQTY"/>
		<result property="SHORTREASON" column="SHORTREASON"/>
		<result property="INSPECTOR" column="INSPECTOR"/>
		<result property="STATE" column="STATE"/>
	</resultMap>
	<!--表名 -->
	<sql id="tableName2">
		output_type
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		O.ID,
		O.OPTNAME,
		O.NOTE
	</sql>
	<!-- 字段 -->
	<sql id="field">
		CO.ID,
		CO.SOURCECODE,
		CO.TIME,
		CO.OUTPUT_TYPE_ID,
		CO.QUANTITY,
		CO.DAMAGEDQTY,
		CO.DAMAGEDREASON,
		CO.SHORTQTY,
		CO.SHORTREASON,
		CO.INSPECTOR,
		CO.STATE,
		OPT.OPTNAME
	</sql>
	
	<sql id="tableName">
		CHECKOUT
	</sql>
	
	<select id="datalistPage" parameterType="page" resultType="pd">
		SELECT 
			<include refid="field" /> 
		FROM <include refid="tableName" /> CO INNER JOIN OUTPUT_TYPE OPT ON CO.OUTPUT_TYPE_ID = OPT.ID
		<where>
			<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
				and 
					(
						CO.SOURCECODE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 	or 
					 	CO.QUANTITY LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 	or 
					 	CO.DAMAGEDQTY LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 	or 
					 	CO.DAMAGEDREASON LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 	or 
					 	CO.SHORTQTY LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 	or 
					 	CO.SHORTREASON LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 	or 
					 	CO.INSPECTOR LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					)
			</if>
			<if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''"><!-- 登录时间检索 -->
				and CO.TIME &gt;= #{pd.lastLoginStart} 
			</if>
			<if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''"><!-- 登录时间检索 -->
				and CO.TIME &lt;= #{pd.lastLoginEnd} 
			</if>
			<if test="pd.STATE!=null and pd.STATE!=''"><!-- 登录时间检索 -->
				and CO.STATE &lt;= #{pd.STATE} 
			</if>
		</where>
			ORDER BY CO.TIME DESC
	</select>
	
	<select id="checkoutById" parameterType="pd" resultType="pd">
		SELECT 
			<include refid="field" /> 
		FROM <include refid="tableName" /> CO INNER JOIN OUTPUT_TYPE OPT ON CO.OUTPUT_TYPE_ID = OPT.ID WHERE CO.ID=#{ID}
	</select>
	
	<!-- 删除用户 -->
	<delete id="checkoutdel" parameterType="pd" flushCache="false">
		DELETE FROM 
			<include refid="tableName"></include>
		WHERE ID = #{ID}
	</delete>
	
	<update id="checkoutUpdate" parameterType="pd">
		UPDATE <include refid="tableName"></include> 
		<set>
			<if test="OUT_PUT_TYPE!=null and OUT_PUT_TYPE!='' ">
				OUT_PUT_TYPE=#{OUT_PUT_TYPE},
			</if>
			<if test="QUANTITY!=null and QUANTITY!='' ">
				QUANTITY=#{QUANTITY},
			</if>
			<if test="DAMAGEDQTY!=null and DAMAGEDQTY!='' ">
				DAMAGEDQTY=#{DAMAGEDQTY},
			</if>
			<if test="DAMAGEDREASON!=null and DAMAGEDREASON!='' ">
				DAMAGEDREASON=#{DAMAGEDREASON},
			</if>
			<if test="SHORTQTY!=null and SHORTQTY!='' ">
				SHORTQTY=#{SHORTQTY},
			</if>
			<if test="SHORTREASON!=null and SHORTREASON!='' ">
				SHORTREASON=#{SHORTREASON},
			</if>
			<if test="STATE!=null and STATE!='' ">
				STATE=#{STATE},
			</if>
		</set>
		WHERE ID=#{ID}
	</update>
	
	<insert id="checkoutInsert" parameterType="pd">
		INSERT INTO <include refid="tableName"></include> VALUES(
			#{ID},
			#{SOURCECODE},
			#{TIME},
			#{OUTPUT_TYPE_ID},
			#{QUANTITY},
			#{DAMAGEDQTY},
			#{DAMAGEDREASON},
			#{SHORTQTY},
			#{SHORTREASON},
			#{INSPECTOR},
			#{STATE}
		)
	</insert>
	<!-- 前15天 -->
	<select id="barChar1" resultMap="checkResult">
		SELECT
			CO.TIME,
			SUM(co.QUANTITY) as QUANTITY,
			SUM(co.DAMAGEDQTY) as DAMAGEDQTY,
			SUM(co.SHORTQTY) as SHORTQTY,
			O.OPTNAME
		FROM
			<include refid="tableName" /> CO
		LEFT JOIN 
		<include refid="tableName2" /> O ON CO.OUTPUT_TYPE_ID = O.ID
		WHERE
		O.ID LIKE 'RK%'
		AND 
			CO.TIME &gt;= DATE_SUB(NOW(),interval 30 day)
		AND
			CO.TIME &lt; DATE_SUB(NOW(),interval 15 day) 
	</select>
	<!-- 后15天 -->
	<select id="barChar2" resultMap="checkResult">
		SELECT
			CO.TIME,
			SUM(co.QUANTITY) as QUANTITY,
			SUM(co.DAMAGEDQTY) as DAMAGEDQTY,
			SUM(co.SHORTQTY) as SHORTQTY,
			O.OPTNAME
		FROM
			<include refid="tableName" /> CO
		LEFT JOIN 
		<include refid="tableName2" /> O ON CO.OUTPUT_TYPE_ID = O.ID
		WHERE
		O.ID LIKE 'RK%'
		AND CO.TIME &gt;= DATE_SUB(NOW(),interval 15 day)
	</select>
</mapper>