<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="DrawingMapper">
		<resultMap type="Drawing" id="DrawingResultMap">
			<id column="ID" property="ID"/>
			<result column="BIANHAO" property="BIANHAO"/>
			<result column="JINGSHUO_ID" property="JINGSHUO_ID"/>
			<result column="DRAWING_INST" property="DRAWING_INST"/>
			<result column="STATE" property="STATE"/>
			<result column="MATERIALS_ID" property="MATERIALS_ID"/>
			<result column="WAREHOUSE_OUT_ID" property="WAREHOUSE_OUT_ID"/>
			<result column="WAREHOUSE_PUT_ID" property="WAREHOUSE_PUT_ID"/>
			<result column="INSPECTOR" property="INSPECTOR"/>
			<result column="AUDITOR" property="AUDITOR"/>
			<result column="ENTRY_TIME" property="ENTRY_TIME"/>
			<result column="UPDATE_TIME" property="UPDATE_TIME"/>
			<result column="MONEY" property="MONEY"/>
			<result column="NUMBER_OF" property="NUMBER_OF"/>
			<result column="ZHAIYAO_INST" property="ZHAIYAO_INST"/>
			<result column="BusinessDate" property="BusinessDate"/>
			
			
			<!-- 经手人(关联sys_user)多对一关系 -->
			<association property="user" javaType="User">
				<id column="USER_ID" property="USER_ID"/>
				<result column="USERNAME" property="USERNAME"/>
				<result column="PASSWORD" property="PASSWORD"/>
				<result column="NAME" property="NAME"/>
				<result column="RIGHTS" property="RIGHTS"/>
				<result column="LAST_LOGIN" property="LAST_LOGIN"/>
				<result column="IP" property="IP"/>
				<result column="STATUS" property="STATUS"/>
				<result column="SKIN" property="SKIN"/>
			</association>
			<!-- 产品（关联materials_information（物资表）） -->
			<association property="materials" javaType="Materials_information">
				<id column="ID" property="ID"/>
				<result column="BIANHAO" property="BIANHAO"/>
				<result column="PINYIN" property="PINYIN"/>
				<result column="RIGHTS" property="RIGHTS"/>
				<result column="BAR_CODE" property="BAR_CODE"/>
				<result column="NAME" property="NAME"/>
				<result column="COUNT" property="COUNT"/>
				<result column="UNIT" property="UNIT"/>
				<result column="ENTRY_TIME" property="ENTRY_TIME"/>
				<result column="UPDATE_TIME" property="UPDATE_TIME"/>
				<result column="operator" property="operator"/>
				<result column="NOTE" property="NOTE"/>
				<result column="STATE" property="STATE"/>
			</association>
			
			<!-- 调出，调入（关联warehouse（仓库表） -->
			<association property="warehouse" javaType="Warehouse">
				<id column="ID" property="ID" />
				<result column="WARNAME" property="WARNAME" />
				<result column="SIZE" property="SIZE" />
				<result column="UPPER_LIMIT" property="UPPER_LIMIT" />
				<result column="LOWER_LIMIT" property="LOWER_LIMIT" />
				<result column="PRACTICAl" property="PRACTICAl" />
				<result column="ADDRESS" property="ADDRESS" />
				<result column="ENTRY_TIME" property="ENTRY_TIME" />
				<result column="UPDATE_TIME" property="UPDATE_TIME" />
				<result column="NOTE" property="NOTE" />
				<result column="STATE" property="STATE" />
			</association>
			
		</resultMap>

		<!-- 查询经手人  -->
		<select id="drawinglist" resultType="pd">
			SELECT u.USER_ID,u.USERNAME FROM SYS_USER u
		</select>
		<!-- 查询仓库名 -->
		 <select id="warlist" resultType="pd">
			select w.ID,w.WARNAME from warehouse w
		</select>
		
		<!-- 保存调拨的数据 -->
		<insert id="DrwingSave" parameterType="pd">
			insert into drawing(ID,INSPECTOR,BIANHAO,BusinessDate,ENTRY_TIME,JINGSHUO_ID,WAREHOUSE_OUT_ID,WAREHOUSE_PUT_ID,DRAWING_INST,MATERIALS_ID,NUMBER_OF)
			values(#{ID},#{INSPECTOR},#{DBbIANHAO},#{BusinessDate},#{ENTRY_TIME},#{JINGSHUO_ID},#{WAREHOUSE_OUT_ID},#{WAREHOUSE_PUT_ID},#{DRAWING_INST},#{MATERIALS_ID},#{COUNT})
		</insert>
		
		<!-- 查询调拨单 -->
		<select id="datalistPage" parameterType="page" resultType="pd">
			select dr.ID,dr.MATERIALS_ID,dr.BusinessDate,dr.BIANHAO,dr.ENTRY_TIME,dr.UPDATE_TIME,dr.DRAWING_INST,dr.INSPECTOR,dr.WAREHOUSE_PUT_ID,dr.WAREHOUSE_OUT_ID,ws.WARNAME as ru,dr.AUDITOR,dr.STATE,dr.NUMBER_OF,w.WARNAME as chu,u.USERNAME from drawing dr ,warehouse ws ,warehouse w ,sys_user u  
			where
				dr.WAREHOUSE_OUT_ID=w.ID AND dr.JINGSHUO_ID=u.USER_ID and dr.WAREHOUSE_PUT_ID=ws.ID
				<if test="pd.keywords!= null and pd.keywords != ''"><!-- 根据编号查询 -->
					and dr.BIANHAO = #{pd.keywords}
				</if>
				<if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''"><!-- 根据开始日期查询 -->
					and dr.BusinessDate &gt;= #{pd.lastLoginStart} 
				</if>
				<if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''"><!-- 根据结束日期查询 -->
					and dr.BusinessDate &lt;= #{pd.lastLoginEnd} 
				</if>
				<if test="pd.STATE != null and pd.STATE != ''"><!-- 状态检索 -->
					and dr.STATE=#{pd.STATE} 
				</if>
				order by dr.ENTRY_TIME DESC
		</select>
		
		<!-- 审核 -->
		<update id="Audit" parameterType="pd">
			update drawing SET STATE=#{STATE},AUDITOR=#{AUDITOR},UPDATE_TIME=#{UPDATE_TIME} WHERE ID=#{ID}
		</update>
		
		<!-- 去审 -->
		<update id="Abolish" parameterType="pd">
			update drawing SET STATE=#{STATE},UPDATE_TIME=#{UPDATE_TIME} WHERE ID=#{ID}
		</update>
			
		<!-- 删除 -->
		<delete id="delDraeing" parameterType="pd" flushCache="false">
			delete from drawing where ID=#{ID}
		</delete>
		
		<!-- 根据id查询出业务日期,经手人,调拨说明,单据编号,业务日期 -->
		<select id="DraeingById" parameterType="String" resultType="pd">
			select dr.ID,dr.BusinessDate,dr.BIANHAO,dr.DRAWING_INST,u.USER_ID from 
				drawing dr INNER JOIN sys_user u ON dr.JINGSHUO_ID=u.USER_ID
			 AND dr.ID=#{ID} 
		</select>
		
		<!--根据MATERIALS_ID查询出仓库id-->
		<select id="DraeingBywname" parameterType="String" resultType="pd">
			select dr.WAREHOUSE_OUT_ID,dr.WAREHOUSE_PUT_ID from drawing dr,warehouse wa,warehouse ws
			WHERE
			dr.WAREHOUSE_OUT_ID=wa.ID
			AND
			dr.WAREHOUSE_PUT_ID=ws.ID
			AND
			dr.ID=#{ID} 
		</select>
		
		<!--根据MATERIALS_ID查询出此仓库的物资-->
		<select id="idlistPage" parameterType="page" resultType="pd"> 
				SELECT mi.ID,mi.BIANHAO,mi. NAME,mi.COUNT,mi.UNIT,mi.NOTE FROM 
				materials_information mi INNER JOIN drawing dr 
				ON
				dr.MATERIALS_ID = mi.ID
				AND
				mi.STATE=1
				<if test="pd.MATERIALS_ID==null">
					AND 
					dr.MATERIALS_ID='null'
				</if>
				<if test=" pd.MATERIALS_ID!= null">
					AND
					dr.MATERIALS_ID=#{pd.MATERIALS_ID}
				</if>
		</select>
		
		<!-- 减去调出仓库的物资数量 -->
		<update id="reduce"  parameterType="pd">
			update materials_information SET COUNT=(COUNT-#{COUNT}) WHERE ID=#{MATERIALS_ID}
		</update>
	
		
		<!-- 修改 -->
		<update id="updateDraeing" parameterType="pd">
			update drawing 
			SET BusinessDate=#{BusinessDate},DRAWING_INST=#{DRAWING_INST},UPDATE_TIME=#{UPDATE_TIME},WAREHOUSE_OUT_ID=#{WAREHOUSE_OUT_ID},WAREHOUSE_PUT_ID=#{WAREHOUSE_PUT_ID},MATERIALS_ID=#{MATERIALS_ID},JINGSHUO_ID=#{JINGSHUO_ID}
			,NUMBER_OF=#{COUNT}
			WHERE ID=#{ID}
		</update>
		
	</mapper>