<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SalesreturnMapper">
	
	<!-- 字段 -->
	<sql id="field">
		SR.ID,
		SR.RETREAT_CODE,
		SR.OUT_CODE,
		SR.INSPECTOR,
		SR.WAREHOUSE_OUT_ID,
		SR.WAREHOUSE_PUT_ID,
		SR.OUTPUT_TYPE_ID,
		SR.MAKETIME,
		SR.COUNT,
		SR.NOTE,
		SR.STATE,
		OT.WARNAME OTNAME,
		PT.WARNAME PTNAME,
		OPT.OPTNAME
	</sql>
	
	<sql id="tableName">
		SALES_RETURN
	</sql>

	<select id="datalistPage" parameterType="page" resultType="pd">
		SELECT 
			<include refid="field" /> 
		FROM <include refid="tableName" /> SR LEFT JOIN WAREHOUSE OT ON (SR.WAREHOUSE_OUT_ID = OT.ID) 
		LEFT JOIN WAREHOUSE PT ON (SR.WAREHOUSE_PUT_ID = PT.ID) LEFT JOIN OUTPUT_TYPE OPT ON SR.OUTPUT_TYPE_ID = OPT.ID
		<where>
			<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
				and 
					(
						SR.RETREAT_CODE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 	or 
					 	SR.OUT_CODE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 	or 
					 	SR.INSPECTOR LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 	or 
					 	SR.COUNT LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 	or 
					 	OT.WARNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					)
			</if>
			<if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''"><!-- 登录时间检索 -->
				and SR.MAKETIME &gt;= #{pd.lastLoginStart} 
			</if>
			<if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''"><!-- 登录时间检索 -->
				and SR.MAKETIME &lt;= #{pd.lastLoginEnd} 
			</if>
		</where>
			ORDER BY SR.MAKETIME DESC
	</select>
	
	<select id="salesreturnById" parameterType="pd" resultType="pd">
		SELECT 
			<include refid="field" /> 
		FROM <include refid="tableName" /> SR LEFT JOIN WAREHOUSE OT ON (SR.WAREHOUSE_OUT_ID = OT.ID) 
		LEFT JOIN WAREHOUSE PT ON (SR.WAREHOUSE_PUT_ID = PT.ID) LEFT JOIN 
		OUTPUT_TYPE OPT ON SR.OUTPUT_TYPE_ID = OPT.ID WHERE SR.ID=#{ID}
	</select>
	
	<select id="findBysalesreturnByState" parameterType="pd" resultType="pd">
		SELECT ID,STATE FROM <include refid="tableName" /> WHERE RETREAT_CODE=#{SOURCECODE}
	</select>
	
	<!-- 删除用户 -->
	<delete id="salesreturndel" parameterType="pd" flushCache="false">
		DELETE FROM 
			<include refid="tableName"></include>
		WHERE ID = #{ID}
	</delete>
	
	<update id="salesreturnUpdate" parameterType="pd">
		UPDATE <include refid="tableName"></include> 
		<set>
			<if test="OUT_CODE!=null and OUT_CODE!='' ">
				OUT_CODE=#{OUT_CODE},
			</if>
			<if test="INSPECTOR!=null and INSPECTOR!='' ">
				INSPECTOR=#{INSPECTOR},
			</if>
			<if test="WAREHOUSE_OUT_ID!=null and WAREHOUSE_OUT_ID!='' ">
				WAREHOUSE_OUT_ID=#{WAREHOUSE_OUT_ID},
			</if>
			<if test="WAREHOUSE_PUT_ID!=null and WAREHOUSE_PUT_ID!='' ">
				WAREHOUSE_PUT_ID=#{WAREHOUSE_PUT_ID},
			</if>
			<if test="OUTPUT_TYPE_ID!=null and OUTPUT_TYPE_ID!='' ">
				OUTPUT_TYPE_ID=#{OUTPUT_TYPE_ID},
			</if>
			<if test="COUNT!=null and COUNT!='' ">
				COUNT=#{COUNT},
			</if>
			<if test="NOTE!=null and NOTE!='' ">
				NOTE=#{NOTE},
			</if>
			<if test="STATE!=null and STATE!='' ">
				STATE=#{STATE},
			</if>
		</set>
		WHERE ID=#{ID}
	</update>
	
	<insert id="salesreturnInsert" parameterType="pd">
		INSERT INTO <include refid="tableName"></include> VALUES(
			#{ID},
			#{RETREAT_CODE},
			#{OUT_CODE},
			#{INSPECTOR},
			#{WAREHOUSE_OUT_ID},
			#{WAREHOUSE_PUT_ID},
			#{OUTPUT_TYPE_ID},
			#{MAKETIME},
			#{COUNT},
			#{NOTE},
			#{STATE}
		)
	</insert>
</mapper>