<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PriceMapper">
<!-- 	表名 -->
	<sql id="tableName">
		price_money
	</sql>
	<!-- 	表名 -->
	<sql id="moneytableName">
		money
	</sql>
<!-- 	字段 -->
	<sql id="Field">
		PRICE_ID,
		STORAGE,
		RICHARD,
		LOADING,
		UNLOADING,
		MONEYTIME,
		ARTIFICIAL,
		STATE,
		SURCHARGE,
		DAYS,
		EVERY_DAYS,
		WHY
	</sql>
	
<!-- 	字段值 -->
	<sql id="FieldValue">
		#{PRICE_ID},
		#{STORAGE},
		#{RICHARD},
		#{LOADING},
		#{UNLOADING},
		#{MONEYTIME},
		#{ARTIFICIAL},
		#{STATE},
		#{SURCHARGE},
		#{DAYS},
		#{EVERY_DAYS},
		#{WHY}
	</sql>
	
<!-- 	新增公告栏 -->
	<insert id="saveU" parameterType="pd" >
		insert into <include refid="tableName"></include> (
			<include refid="Field"></include>
		) values (
			<include refid="FieldValue"></include>
		)
	</insert>
	<!-- 通过PRICE_ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd" >
		select 
			<include refid="Field"></include>
		from 
			<include refid="tableName"></include> 
		<where>
		<choose>
			<when test="toos=='toos'">
				STATE='0'
			</when>
			<otherwise>
			PRICE_ID =#{PRICE_ID}
			</otherwise>
		</choose>  
		</where>
	</select> 
	<!-- 通过PRICE_ID获取数据 -->
	<select id="moneytoo" parameterType="pd" resultType="pd" >
		select 
			pr.PRICE_ID,
			pr.STORAGE,
			pr.RICHARD,
			pr.LOADING,
			pr.UNLOADING,
			pr.MONEYTIME,
			pr.ARTIFICIAL,
			pr.STATE,
			pr.SURCHARGE,
			pr.DAYS,
			pr.EVERY_DAYS,
			pr.WHY
		from 
			<include refid="tableName"></include> pr, <include refid="moneytableName"></include> m
		where pr.PRICE_ID=m.PRICE_ID and m.PRICE_ID=#{PRICE_ID} and m.ID=#{moneyID}
		
	</select>
	<!-- 通过PRICE_ID获取数据 -->
	<select id="moneytoos" parameterType="pd" resultType="pd" >
		select pr.PRICE_ID,
			pr.STORAGE,
			pr.RICHARD,
			pr.LOADING,
			pr.UNLOADING,
			pr.MONEYTIME,
			pr.ARTIFICIAL,
			pr.STATE,
			pr.SURCHARGE,
			pr.DAYS,
			pr.EVERY_DAYS,
			pr.WHY from output_storage ou,materials_information ma,money m,price_money pr where ou.BIANHAO=#{OUT_CODE} AND
			ou.MATERIALS_ID=ma.ID and ma.ID=m.PRODUCT_ID and m.PRICE_ID=pr.PRICE_ID
	</select>
	<!-- 列表 -->
	<select id="mlistPage" parameterType="page" resultType="pd" >
		select  <include refid="Field"></include>
		from <include refid="tableName"></include>
		order by MONEYTIME desc
	</select>
	<!-- 修改 -->
	<update id="editU" parameterType="pd" >
		update  <include refid="tableName"></include>
			set STORAGE 					= #{STORAGE},
				RICHARD 				= #{RICHARD},
				LOADING 				= #{LOADING},
				UNLOADING 				= #{UNLOADING},
				ARTIFICIAL 				= #{ARTIFICIAL},
				SURCHARGE				= #{SURCHARGE},
				DAYS					= #{DAYS},
				EVERY_DAYS				= #{EVERY_DAYS},
				WHY						=#{WHY}
				where PRICE_ID      =#{PRICE_ID}
	</update>
	
	<!-- 删除用-->
	<delete id="deleteU" parameterType="pd" flushCache="false">
		<choose>
			<when test="STATE==1">
			update  <include refid="tableName"></include>
			set STATE=#{STATE}
			where 
				PRICE_ID = #{PRICE_ID}
			</when>
			<otherwise>
			delete from <include refid="tableName"></include>
			where 
				PRICE_ID = #{PRICE_ID}
			</otherwise>
		</choose>
	</delete>
		<!-- 批量删除-->
	<delete id="deleteAllU" parameterType="String" >
		delete from <include refid="tableName"></include>
		where 
			PRICE_ID in
  			 <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                  #{item}
             </foreach>
	</delete>
</mapper>